@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #app {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: var(--vh);
  height: -moz-available;
  height: -webkit-fill-available;
  height: stretch;
}

*, *:before, *:after {
  box-sizing: border-box;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  padding-bottom: 2px;
}

body {
  font-family: Inter, 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  margin: 0 auto;
}

input, button {
  font: inherit;
}

h1 {
  margin: 4px 0;
  font-size: 36px;
  font-weight: 700;
}

header {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  position: relative;
  color: #454b45;
  text-align: center;
}

#source-link {
  position: absolute;
  right: 1em;
  top: 0.5em;
}

.correct,
.present,
.absent {
  color: #fff !important;
}

.correct {
  //background-color: #6aaa64 !important;
  background-color: #1bb238 !important;
}

.present {
  //background-color: #c9b458 !important;
  background-color: #d2a207 !important;
}

.absent {
  //background-color: #787c7e !important;
  background-color: #82918b !important;
}
